# Arduino
*.ino.cpp
*.elf
*.hex

# Build folders
build/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Python cache (if IDS analysis uses python)
__pycache__/
*.pyc
